# 1. Packages

In [1]:
import datetime

# PySpark packages
from pyspark.sql import SparkSession
from pyspark.sql.functions import (isnan,coalesce,col,when)
from pyspark.sql.functions import (UserDefinedFunction,StringType,lit,udf,datediff,date_add)
from pyspark.sql.types import DoubleType,IntegerType,FloatType,DateType

# PySpark ML
from pyspark.ml.feature import VectorAssembler,StringIndexer,StandardScaler
from pyspark.ml.classification import LogisticRegression

In [2]:
spark = SparkSession.builder.appName("String").getOrCreate()

In [3]:
spark

# 2. The Dataset

In [4]:
loan = spark.read.csv('loan.csv', inferSchema = True, header = True)

In [5]:
# 107864 records and 116 columns.
print(loan.count())
print(len(loan.columns))

107864
116

# 3. Data type transformation
- From previous steps, I have observed several columns had been incorrectly specified as wrong data types. Therefore, before doing a further step for data cleaning, I should transform the wrong data types into correct data types.

In [6]:
column_names = loan.columns
for col in column_names:
    print("{}'s data type is: {}.".format(col,loan.select(col).dtypes[0][1]))
    print("Pick some values to see: {}.".format(loan.select(col).toPandas()[col].unique()[:5]))
    print('-'*60)

loan_amnt's data type is: int.
Pick some values to see: [ 7000  5000 17000 20000 25000].
------------------------------------------------------------
funded_amnt's data type is: int.
Pick some values to see: [ 7000  5000 17000 20000 25000].
------------------------------------------------------------
funded_amnt_inv's data type is: int.
Pick some values to see: [ 7000  5000 17000 20000 25000].
------------------------------------------------------------
term's data type is: string.
Pick some values to see: [' 36 months' ' 60 months'].
------------------------------------------------------------
int_rate's data type is: double.
Pick some values to see: [0.0734 0.0796 0.109  0.0531 0.1261].
------------------------------------------------------------
installment's data type is: double.
Pick some values to see: [217.23 156.59 555.76 602.21 563.85].
------------------------------------------------------------
grade's data type is: string.
Pick some values to see: ['A' 'B' 'C' 'D' 'G'].
------------------------------------------------------------
sub_grade's data type is: string.
Pick some values to see: ['A4' 'A5' 'B4' 'A1' 'C1'].
------------------------------------------------------------
emp_title's data type is: string.
Pick some values to see: ['vice president' 'Office Manager' 'Rural Carrier ' 'Owner' 'Consultant'].
------------------------------------------------------------
emp_length's data type is: string.
Pick some values to see: ['10+ years' '5 years' '3 years' '4 years' 'n/a'].
------------------------------------------------------------
home_ownership's data type is: string.
Pick some values to see: ['MORTGAGE' 'OWN' 'RENT' 'ANY'].
------------------------------------------------------------
annual_inc's data type is: double.
Pick some values to see: [180700.  82000.  70000.  77000.  78000.].
------------------------------------------------------------
verification_status's data type is: string.
Pick some values to see: ['Not Verified' 'Source Verified' 'Verified'].
------------------------------------------------------------
issue_d's data type is: timestamp.
Pick some values to see: ['2019-03-18T00:00:00.000000000' '2019-02-18T00:00:00.000000000'
 '2019-01-18T00:00:00.000000000'].
------------------------------------------------------------
loan_status's data type is: string.
Pick some values to see: ['Current' 'Fully Paid' 'Late (31-120 days)' 'Charged Off'
 'Late (16-30 days)'].
------------------------------------------------------------
pymnt_plan's data type is: string.
Pick some values to see: ['n'].
------------------------------------------------------------
purpose's data type is: string.
Pick some values to see: ['debt_consolidation' 'other' 'credit_card' 'home_improvement'
 'major_purchase'].
------------------------------------------------------------
addr_state's data type is: string.
Pick some values to see: ['IL' 'GA' 'CA' 'PA' 'VA'].
------------------------------------------------------------
dti's data type is: double.
Pick some values to see: [18.98 24.53 22.05 22.21 19.52].
------------------------------------------------------------
delinq_2yrs's data type is: int.
Pick some values to see: [1 0 8 3 2].
------------------------------------------------------------
earliest_cr_line's data type is: timestamp.
Pick some values to see: ['2019-06-04T00:00:00.000000000' '2019-10-01T00:00:00.000000000'
 '2019-08-07T00:00:00.000000000' '2000-08-01T00:00:00.000000000'
 '2019-08-05T00:00:00.000000000'].
------------------------------------------------------------
inq_last_6mths's data type is: int.
Pick some values to see: [1 0 2 3 4].
------------------------------------------------------------
mths_since_last_delinq's data type is: int.
Pick some values to see: [19. 75. nan 44. 15.].
------------------------------------------------------------
mths_since_last_record's data type is: int.
Pick some values to see: [nan 98. 50. 73. 97.].
------------------------------------------------------------
open_acc's data type is: int.
Pick some values to see: [13 14  6  8 12].
------------------------------------------------------------
pub_rec's data type is: int.
Pick some values to see: [0 1 2 7 4].
------------------------------------------------------------
revol_bal's data type is: int.
Pick some values to see: [10546 19181 23119 35112 16258].
------------------------------------------------------------
revol_util's data type is: double.
Pick some values to see: [0.369 0.695 0.612 0.697 0.288].
------------------------------------------------------------
total_acc's data type is: int.
Pick some values to see: [17 27  9 32 15].
------------------------------------------------------------
initial_list_status's data type is: string.
Pick some values to see: ['w' 'f'].
------------------------------------------------------------
out_prncp's data type is: double.
Pick some values to see: [ 6473.55  4627.27 15786.1  18452.04 24087.05].
------------------------------------------------------------
out_prncp_inv's data type is: double.
Pick some values to see: [ 6473.55  4627.27 15786.1  18452.04 24087.05].
------------------------------------------------------------
total_pymnt's data type is: double.
Pick some values to see: [ 645.98  465.35 1646.69 1794.83 1656.52].
------------------------------------------------------------
total_pymnt_inv's data type is: double.
Pick some values to see: [ 645.98  465.35 1646.69 1794.83 1656.52].
------------------------------------------------------------
total_rec_prncp's data type is: double.
Pick some values to see: [ 526.45  372.73 1213.9  1547.96  912.95].
------------------------------------------------------------
total_rec_int's data type is: double.
Pick some values to see: [119.53  92.62 432.79 246.87 743.57].
------------------------------------------------------------
total_rec_late_fee's data type is: double.
Pick some values to see: [ 0.   22.31 15.   22.58 23.31].
------------------------------------------------------------
recoveries's data type is: double.
Pick some values to see: [   0.   1019.71 1985.79].
------------------------------------------------------------
collection_recovery_fee's data type is: double.
Pick some values to see: [  0.     183.5478 178.7211].
------------------------------------------------------------
last_pymnt_d's data type is: timestamp.
Pick some values to see: ['2019-07-18T00:00:00.000000000' '2019-04-18T00:00:00.000000000'
 '2019-05-18T00:00:00.000000000' '2019-06-18T00:00:00.000000000'
                           'NaT'].
------------------------------------------------------------
last_pymnt_amnt's data type is: double.
Pick some values to see: [217.23 156.59 555.76 602.21 563.85].
------------------------------------------------------------
next_pymnt_d's data type is: timestamp.
Pick some values to see: ['2019-08-18T00:00:00.000000000'                           'NaT'
 '2019-07-18T00:00:00.000000000' '2019-09-18T00:00:00.000000000'].
------------------------------------------------------------
last_credit_pull_d's data type is: timestamp.
Pick some values to see: ['2019-07-18T00:00:00.000000000' '2019-04-18T00:00:00.000000000'
 '2019-03-18T00:00:00.000000000' '2019-06-18T00:00:00.000000000'
 '2019-05-18T00:00:00.000000000'].
------------------------------------------------------------
collections_12_mths_ex_med's data type is: int.
Pick some values to see: [0 3 1 2 4].
------------------------------------------------------------
mths_since_last_major_derog's data type is: int.
Pick some values to see: [nan 44. 15. 58. 77.].
------------------------------------------------------------
application_type's data type is: string.
Pick some values to see: ['Individual' 'Joint App'].
------------------------------------------------------------
annual_inc_joint's data type is: double.
Pick some values to see: [180700.  82000.  70000.  77000.  78000.].
------------------------------------------------------------
dti_joint's data type is: double.
Pick some values to see: [18.98 24.53 22.05 22.21 19.52].
------------------------------------------------------------
verification_status_joint's data type is: string.
Pick some values to see: ['Not Verified' 'Source Verified' 'Verified'].
------------------------------------------------------------
acc_now_delinq's data type is: int.

Pick some values to see: [0 1].
------------------------------------------------------------
tot_coll_amt's data type is: int.
Pick some values to see: [  696     0  1360   370 11213].
------------------------------------------------------------
tot_cur_bal's data type is: int.
Pick some values to see: [286553  92660  43112 126356  34969].
------------------------------------------------------------
open_acc_6m's data type is: int.
Pick some values to see: [1 0 4 3 2].
------------------------------------------------------------
open_act_il's data type is: int.
Pick some values to see: [4 6 1 8 2].
------------------------------------------------------------
open_il_12m's data type is: int.
Pick some values to see: [0 1 2 3 4].
------------------------------------------------------------
open_il_24m's data type is: int.
Pick some values to see: [1 0 2 6 3].
------------------------------------------------------------
mths_since_rcnt_il's data type is: int.
Pick some values to see: [24. 12. 27. 40. 18.].
------------------------------------------------------------
total_bal_il's data type is: int.
Pick some values to see: [49674 12080 19993 41551 18711].
------------------------------------------------------------
il_util's data type is: int.
Pick some values to see: [15. 39. 60. 67. 46.].
------------------------------------------------------------
open_rv_12m's data type is: int.
Pick some values to see: [2 1 0 4 6].
------------------------------------------------------------
open_rv_24m's data type is: int.
Pick some values to see: [2 4 0 3 1].
------------------------------------------------------------
max_bal_bc's data type is: int.
Pick some values to see: [ 4492  7114  9047 16155  8694].
------------------------------------------------------------
all_util's data type is: int.
Pick some values to see: [33. 54. 61. 68. 36.].
------------------------------------------------------------
total_rev_hi_lim's data type is: int.
Pick some values to see: [28600 27600 37800 50400 56500].
------------------------------------------------------------
inq_fi's data type is: int.
Pick some values to see: [0 1 2 3 9].
------------------------------------------------------------
total_cu_tl's data type is: int.
Pick some values to see: [0 2 6 1 4].
------------------------------------------------------------
inq_last_12m's data type is: int.
Pick some values to see: [2 0 1 4 5].
------------------------------------------------------------
acc_open_past_24mths's data type is: int.
Pick some values to see: [3 5 2 0 1].
------------------------------------------------------------
avg_cur_bal's data type is: int.
Pick some values to see: [22043.  6619.  7185.  9025.  2690.].
------------------------------------------------------------
bc_open_to_buy's data type is: int.
Pick some values to see: [ 8787.   230. 10181. 15288. 27224.].
------------------------------------------------------------
bc_util's data type is: double.
Pick some values to see: [50.9 98.  69.4 69.7 33.1].
------------------------------------------------------------
chargeoff_within_12_mths's data type is: int.
Pick some values to see: [0 1 3 2 7].
------------------------------------------------------------
delinq_amnt's data type is: int.
Pick some values to see: [   0 2393  697  403 3252].
------------------------------------------------------------
mo_sin_old_il_acct's data type is: int.
Pick some values to see: [ 97. 130.  27. 211.  70.].
------------------------------------------------------------
mo_sin_old_rev_tl_op's data type is: int.
Pick some values to see: [165 186 127 206  85].
------------------------------------------------------------
mo_sin_rcnt_rev_tl_op's data type is: int.
Pick some values to see: [ 3  1 11 30  9].
------------------------------------------------------------
mo_sin_rcnt_tl's data type is: int.
Pick some values to see: [ 3  1 11 30  9].
------------------------------------------------------------
mort_acc's data type is: int.
Pick some values to see: [1 0 4 5 3].
------------------------------------------------------------
mths_since_recent_bc's data type is: int.
Pick some values to see: [89. 10. 11. 30.  9.].
------------------------------------------------------------
mths_since_recent_bc_dlq's data type is: int.
Pick some values to see: [19. 75. nan 15. 77.].
------------------------------------------------------------
mths_since_recent_inq's data type is: int.
Pick some values to see: [ 3.  7. 21. nan  2.].
------------------------------------------------------------
mths_since_recent_revol_delinq's data type is: int.
Pick some values to see: [19. 75. nan 15. 77.].
------------------------------------------------------------
num_accts_ever_120_pd's data type is: int.
Pick some values to see: [0 1 2 4 3].
------------------------------------------------------------
num_actv_bc_tl's data type is: int.
Pick some values to see: [3 2 4 7 5].
------------------------------------------------------------
num_actv_rev_tl's data type is: int.
Pick some values to see: [5 7 4 3 9].
------------------------------------------------------------
num_bc_sats's data type is: int.
Pick some values to see: [4 2 5 3 7].
------------------------------------------------------------
num_bc_tl's data type is: int.
Pick some values to see: [5 7 8 6 4].
------------------------------------------------------------
num_il_tl's data type is: int.
Pick some values to see: [ 7 11  1 20  3].
------------------------------------------------------------
num_op_rev_tl's data type is: int.
Pick some values to see: [ 7  5 11  6 10].
------------------------------------------------------------
num_rev_accts's data type is: int.
Pick some values to see: [ 8 15 13 10 11].
------------------------------------------------------------
num_rev_tl_bal_gt_0's data type is: int.
Pick some values to see: [5 7 4 3 9].
------------------------------------------------------------
num_sats's data type is: int.
Pick some values to see: [13 14  6  8 12].
------------------------------------------------------------
num_tl_120dpd_2m's data type is: int.
Pick some values to see: [ 0. nan].
------------------------------------------------------------
num_tl_30dpd's data type is: int.
Pick some values to see: [0 1].
------------------------------------------------------------
num_tl_90g_dpd_24m's data type is: int.
Pick some values to see: [0 2 1 3 7].
------------------------------------------------------------
num_tl_op_past_12m's data type is: int.
Pick some values to see: [2 3 1 0 6].
------------------------------------------------------------
pct_tl_nvr_dlq's data type is: double.
Pick some values to see: [ 94.1  96.3 100.   90.9  81.3].
------------------------------------------------------------
percent_bc_gt_75's data type is: double.
Pick some values to see: [  0. 100.  50.  20.  25.].
------------------------------------------------------------
pub_rec_bankruptcies's data type is: int.
Pick some values to see: [0 1 2 3 4].
------------------------------------------------------------
tax_liens's data type is: int.
Pick some values to see: [0 1 2 7 3].
------------------------------------------------------------
tot_hi_cred_lim's data type is: int.
Pick some values to see: [410809 146980  71235 168738  97060].
------------------------------------------------------------
total_bal_ex_mort's data type is: int.
Pick some values to see: [67331 31261 43112 76663 34969].
------------------------------------------------------------
total_bc_limit's data type is: int.
Pick some values to see: [17900 11700 33300 50400 40700].
------------------------------------------------------------
total_il_high_credit_limit's data type is: int.
Pick some values to see: [129270  30880  33435  62338  40560].
------------------------------------------------------------
revol_bal_joint's data type is: int.
Pick some values to see: [10546 19181 23119 35112 16258].
------------------------------------------------------------
sec_app_earliest_cr_line's data type is: timestamp.
Pick some values to see: ['2019-06-04T00:00:00.000000000' '2019-10-01T00:00:00.000000000'
 '2019-08-07T00:00:00.000000000' '2000-08-01T00:00:00.000000000'
 '2019-08-05T00:00:00.000000000'].
------------------------------------------------------------
sec_app_inq_last_6mths's data type is: int.

Pick some values to see: [1 0 2 3 5].
------------------------------------------------------------
sec_app_mort_acc's data type is: int.
Pick some values to see: [1 0 4 5 3].
------------------------------------------------------------
sec_app_open_acc's data type is: int.
Pick some values to see: [13 14  6  8 12].
------------------------------------------------------------
sec_app_revol_util's data type is: double.
Pick some values to see: [0.369 0.695 0.612 0.697 0.288].
------------------------------------------------------------
sec_app_open_act_il's data type is: int.
Pick some values to see: [4 6 1 8 2].
------------------------------------------------------------
sec_app_num_rev_accts's data type is: int.
Pick some values to see: [ 8 15 13 10 11].
------------------------------------------------------------
sec_app_chargeoff_within_12_mths's data type is: int.
Pick some values to see: [ 0  1  4 14  3].
------------------------------------------------------------
sec_app_collections_12_mths_ex_med's data type is: int.
Pick some values to see: [0 2 1 3 5].
------------------------------------------------------------
sec_app_mths_since_last_major_derog's data type is: int.
Pick some values to see: [nan 44. 23. 15. 58.].
------------------------------------------------------------
disbursement_method's data type is: string.
Pick some values to see: ['Cash' 'DirectPay'].
------------------------------------------------------------

## 3.1 Remove columns

In [7]:
# 'pymnt_plan' contained only one record across all rows.
(loan.select('pymnt_plan').toPandas()['pymnt_plan'] == 'n').sum()

107864

In [8]:
# After reading the metadata description, 'sub_grade' reveals a similar information 
# as'grade'.
loan = loan.drop('pymnt_plan','sub_grade')

# Now, 114 columns left.
print(len(loan.columns))

114

In [9]:
# Observed the values under 'term' have some spaces.
remove_space = UserDefinedFunction(lambda x: x.strip(), StringType())
loan = loan.withColumn('term', remove_space('term'))

## 3.2 Datetime features

In [10]:
# 6 datetime features in the dataset.
datetime_features = ['issue_d','last_pymnt_d','next_pymnt_d','last_credit_pull_d',
                     'earliest_cr_line','sec_app_earliest_cr_line']
len(datetime_features)

6

In [11]:
# Check whether the data type is correct or not.
loan.select(datetime_features).dtypes

[('issue_d', 'timestamp'),
 ('last_pymnt_d', 'timestamp'),
 ('next_pymnt_d', 'timestamp'),
 ('last_credit_pull_d', 'timestamp'),
 ('earliest_cr_line', 'timestamp'),
 ('sec_app_earliest_cr_line', 'timestamp')]

In [12]:
# For 'issue_d' and 'next_pymnt_d', it's clearly not in 2019 but must be 2018.
# However, for 'last_pymnt_d', the records must be before '2018-03-31' since the dataset
# is in the first quarter in 2018.
loan.select('issue_d','last_pymnt_d','next_pymnt_d').show(5)

+-------------------+-------------------+-------------------+
|            issue_d|       last_pymnt_d|       next_pymnt_d|
+-------------------+-------------------+-------------------+
|2019-03-18 00:00:00|2019-07-18 00:00:00|2019-08-18 00:00:00|
|2019-03-18 00:00:00|2019-07-18 00:00:00|2019-08-18 00:00:00|
|2019-03-18 00:00:00|2019-07-18 00:00:00|2019-08-18 00:00:00|
|2019-03-18 00:00:00|2019-07-18 00:00:00|2019-08-18 00:00:00|
|2019-03-18 00:00:00|2019-07-18 00:00:00|2019-08-18 00:00:00|
+-------------------+-------------------+-------------------+
only showing top 5 rows

In [13]:
# Therefore, 'issue_d' must be subtracted by '1 year'.
# After reading the metadata description and looking at other datasets, 
# I decided to create a date difference between 'last_pymnt_d' and 'next_pymnt_d'.
loan = loan.withColumn("issue_d", date_add("issue_d", -365))

In [14]:
# Before generating more powerful datetime features, first impute the missing values.
# Observed that when 'next_pymnt_d' is null, then the corresponding 'loan_status' is 
# always 'Fully Paid' or 'Charged Off'.
loan.select('next_pymnt_d','loan_status').groupby('next_pymnt_d','loan_status').\
count().show()

+-------------------+------------------+-----+
|       next_pymnt_d|       loan_status|count|
+-------------------+------------------+-----+
|               null|        Fully Paid| 6252|
|               null|       Charged Off|  265|
|2019-09-18 00:00:00|           Current|   25|
|2019-08-18 00:00:00|Late (31-120 days)| 1103|
|2019-08-18 00:00:00|   In Grace Period|  761|
|2019-08-18 00:00:00| Late (16-30 days)|  390|
|2019-07-18 00:00:00|           Current|   10|
|2019-08-18 00:00:00|           Current|99058|
+-------------------+------------------+-----+

In [15]:
# I impute 'next_pymnt_d' missing values by replacing '9999-12-31' since 'Fully Paid' 
# and 'Charged Off' will not have 'next payment day' same as the date difference.
loan = loan.withColumn('next_pymnt_d', 
                       when(loan.next_pymnt_d.isNotNull(), 
                            loan.next_pymnt_d).otherwise(datetime.datetime(9999,12,31)))

In [16]:
# Make sure the correction is correct!
loan = loan.withColumn("diff_last_next_pymnt_d",
                       datediff(loan.next_pymnt_d, loan.last_pymnt_d)
                      )
loan.select('issue_d','last_pymnt_d','next_pymnt_d','diff_last_next_pymnt_d').show(5)

+----------+-------------------+-------------------+----------------------+
|   issue_d|       last_pymnt_d|       next_pymnt_d|diff_last_next_pymnt_d|
+----------+-------------------+-------------------+----------------------+
|2018-03-18|2019-07-18 00:00:00|2019-08-18 00:00:00|                    31|
|2018-03-18|2019-07-18 00:00:00|2019-08-18 00:00:00|                    31|
|2018-03-18|2019-07-18 00:00:00|2019-08-18 00:00:00|                    31|
|2018-03-18|2019-07-18 00:00:00|2019-08-18 00:00:00|                    31|
|2018-03-18|2019-07-18 00:00:00|2019-08-18 00:00:00|                    31|
+----------+-------------------+-------------------+----------------------+
only showing top 5 rows

In [17]:
# In order to have the same 'year unit' as 'last_pymnt_d' and 'next_pymnt_d',
# I chose '2019-03-31' as the end of March to compute the date difference.
loan = loan.withColumn("diff_next_pymnt_end_of_march_d",
                       datediff(loan.next_pymnt_d, lit(datetime.datetime(2019,3,31)))
                      )
loan = loan.withColumn("diff_last_pymnt_end_of_march_d",
                       datediff(loan.last_pymnt_d, lit(datetime.datetime(2019,3,31)))
                      )

In [18]:
# Make sure the date difference is computed correctly!
loan.select('last_pymnt_d','diff_last_pymnt_end_of_march_d',
            'next_pymnt_d','diff_next_pymnt_end_of_march_d').show(5)

+-------------------+------------------------------+-------------------+------------------------------+
|       last_pymnt_d|diff_last_pymnt_end_of_march_d|       next_pymnt_d|diff_next_pymnt_end_of_march_d|
+-------------------+------------------------------+-------------------+------------------------------+
|2019-07-18 00:00:00|                           109|2019-08-18 00:00:00|                           140|
|2019-07-18 00:00:00|                           109|2019-08-18 00:00:00|                           140|
|2019-07-18 00:00:00|                           109|2019-08-18 00:00:00|                           140|
|2019-07-18 00:00:00|                           109|2019-08-18 00:00:00|                           140|
|2019-07-18 00:00:00|                           109|2019-08-18 00:00:00|                           140|
+-------------------+------------------------------+-------------------+------------------------------+
only showing top 5 rows

In [19]:
def transform_datetime(x):
    if x == datetime.date(2018, 1, 18):
        return 'issue_d_level_1'
    elif x == datetime.date(2018, 2, 18):
        return 'issue_d_level_2'
    elif x == datetime.date(2018, 3, 18):
        return 'issue_d_level_3'
    else:
        return 'issue_d_level_na'

trans_issue_d = udf(transform_datetime)

In [20]:
loan = loan.withColumn('issue_d', 
                       trans_issue_d(loan.issue_d))

In [21]:
# Make sure the transformation is correct!
loan.select('issue_d').show(5)

+---------------+
|        issue_d|
+---------------+
|issue_d_level_3|
|issue_d_level_3|
|issue_d_level_3|
|issue_d_level_3|
|issue_d_level_3|
+---------------+
only showing top 5 rows

In [22]:
# Again, it's impossible for 'last_credit_pull_d', 'earliest_cr_line', and 
# 'sec_app_earliest_cr_line' recorded after '2018-03-31'.
loan.select('last_credit_pull_d','earliest_cr_line','sec_app_earliest_cr_line').show(5)

+-------------------+-------------------+------------------------+
| last_credit_pull_d|   earliest_cr_line|sec_app_earliest_cr_line|
+-------------------+-------------------+------------------------+
|2019-07-18 00:00:00|2019-06-04 00:00:00|     2019-06-04 00:00:00|
|2019-07-18 00:00:00|2019-10-01 00:00:00|     2019-10-01 00:00:00|
|2019-07-18 00:00:00|2019-08-07 00:00:00|     2019-08-07 00:00:00|
|2019-07-18 00:00:00|2000-08-01 00:00:00|     2000-08-01 00:00:00|
|2019-07-18 00:00:00|2019-08-05 00:00:00|     2019-08-05 00:00:00|
+-------------------+-------------------+------------------------+
only showing top 5 rows

In [23]:
# Therefore, 'last_credit_pull_d', 'earliest_cr_line', and 'sec_app_earliest_cr_line'
# must be subtracted by '2 years'.
loan = loan.withColumn("last_credit_pull_d", date_add("last_credit_pull_d", -365*2))
loan = loan.withColumn("earliest_cr_line", date_add("earliest_cr_line", -365))
loan = loan.withColumn("sec_app_earliest_cr_line", date_add("sec_app_earliest_cr_line", -365))

In [24]:
# Make sure the correction is correct!
# Notice: Still, records in 'earliest_cr_line' and 'sec_app_earliest_cr_line' are 
# not before the end of the March in 2018.
# Since I subtracted all the records by the same time window, then it's not an issue if 
# some records are still before the end of the March in 2018.
loan.select('last_credit_pull_d','earliest_cr_line','sec_app_earliest_cr_line').show(5)

+------------------+----------------+------------------------+
|last_credit_pull_d|earliest_cr_line|sec_app_earliest_cr_line|
+------------------+----------------+------------------------+
|        2017-07-18|      2018-06-04|              2018-06-04|
|        2017-07-18|      2018-10-01|              2018-10-01|
|        2017-07-18|      2018-08-07|              2018-08-07|
|        2017-07-18|      1999-08-02|              1999-08-02|
|        2017-07-18|      2018-08-05|              2018-08-05|
+------------------+----------------+------------------------+
only showing top 5 rows

In [25]:
# Create three new features, which may be powerful features to predict 'loan_status'.
# In my perspective, use '2018-03-31' as a point of time to compare the date difference
# with 'last_credit_pull_d','earliest_cr_line', and'sec_app_earliest_cr_line might
# be a good way since some records still 'outside' the time range.
loan = loan.withColumn("diff_earliest_cr_line_end_of_march_d",
                       datediff(loan.earliest_cr_line, lit(datetime.datetime(2018,3,31)))
                      )
loan = loan.withColumn("diff_sec_app_earliest_cr_line_end_of_march_d",
                       datediff(loan.sec_app_earliest_cr_line, lit(datetime.datetime(2018,3,31)))
                      )
loan = loan.withColumn("diff_last_credit_pull_end_of_march_d",
                       datediff(loan.last_credit_pull_d, lit(datetime.datetime(2018,3,31)))
                      )

In [26]:
loan.select('diff_earliest_cr_line_end_of_march_d',
            'diff_sec_app_earliest_cr_line_end_of_march_d',
            'diff_last_credit_pull_end_of_march_d').show(5)

+------------------------------------+--------------------------------------------+------------------------------------+
|diff_earliest_cr_line_end_of_march_d|diff_sec_app_earliest_cr_line_end_of_march_d|diff_last_credit_pull_end_of_march_d|
+------------------------------------+--------------------------------------------+------------------------------------+
|                                  65|                                          65|                                -256|
|                                 184|                                         184|                                -256|
|                                 129|                                         129|                                -256|
|                               -6816|                                       -6816|                                -256|
|                                 127|                                         127|                                -256|
+------------------------------------+--------------------------------------------+------------------------------------+
only showing top 5 rows

In [27]:
# After generating new time-related features which are more meaningful for 
# a modeling perspective, the original timestamp features should be dropped off 
# from the dataset.
loan = loan.drop('last_pymnt_d','next_pymnt_d',
                 'last_credit_pull_d','earliest_cr_line','sec_app_earliest_cr_line'
                )

In [28]:
# Now, 115 columns left.
len(loan.columns)

115

# 4. Inspection - Missing data
- Find out what is reason to make such missing data.

In [31]:
column_names = loan.columns

In [32]:
# Find the rest of features which still have missing records.
numeric_feat = {}
string_feat = {}

i = 0
for col in column_names:
    try:
        na_count = loan.filter((loan[col] == "") | loan[col].isNull() | isnan(loan[col])).count()
        if na_count != 0:
            print('Column: {} contained {} missing values.'.format(col, na_count))
            i += 1
            if loan.select(col).dtypes[0][1] != 'string':
                numeric_feat[col] = na_count
            elif loan.select(col).dtypes[0][1] == 'string':
                string_feat[col] = na_count
    except:
        print("Error column: {}.".format(col))
print()
print(i, 'features still contain missing values.')

Column: emp_title contained 9613 missing values.
Column: dti contained 262 missing values.
Column: mths_since_last_delinq contained 60695 missing values.
Column: mths_since_last_record contained 92595 missing values.
Column: revol_util contained 149 missing values.
Column: mths_since_last_major_derog contained 83103 missing values.
Column: mths_since_rcnt_il contained 4288 missing values.
Column: il_util contained 17984 missing values.
Column: all_util contained 28 missing values.
Column: avg_cur_bal contained 10 missing values.
Column: bc_open_to_buy contained 1510 missing values.
Column: bc_util contained 1561 missing values.
Column: mo_sin_old_il_acct contained 4288 missing values.
Column: mths_since_recent_bc contained 1421 missing values.
Column: mths_since_recent_bc_dlq contained 86566 missing values.
Column: mths_since_recent_inq contained 13648 missing values.
Column: mths_since_recent_revol_delinq contained 77038 missing values.
Column: num_tl_120dpd_2m contained 3508 missing values.
Column: pct_tl_nvr_dlq contained 1 missing values.
Column: percent_bc_gt_75 contained 1514 missing values.
Column: sec_app_revol_util contained 109 missing values.
Column: sec_app_mths_since_last_major_derog contained 79728 missing values.
Column: diff_last_next_pymnt_d contained 151 missing values.
Column: diff_last_pymnt_end_of_march_d contained 151 missing values.
Column: diff_last_credit_pull_end_of_march_d contained 2 missing values.

25 features still contain missing values.

## 4.1 Missing at random or not random

In [33]:
sqlCtx.registerDataFrameAsTable(loan, "loan")

In [34]:
# Helper function for inspecting whether a missing column has some relationship with 
# an output variable, meaning the reason to cause such missing data is not random!
def inspect_na_at_random(missing_column, output_variable):
    """
    missing_column: the name of a missing column.
    output_variable: the name of an output column.
    Return: A table shows the count value of different levels of an output variable 
    group by two values, NA and NOT NA based on the missing column.
    """
    
    df_null_group = sqlCtx.sql("SELECT CASE WHEN "+missing_column+ " IS NULL THEN 'NA'\
    ELSE 'NOT NA' END AS NA_OR_NOT_NA,"+output_variable+" FROM loan")
    
    sqlCtx.registerDataFrameAsTable(df_null_group, "df_null_group")
    
    df_null_loan_status = sqlCtx.sql("SELECT NA_OR_NOT_NA,"+output_variable+",COUNT("+\
                                     output_variable+")\
                                     FROM df_null_group \
                                     GROUP BY NA_OR_NOT_NA,"+output_variable+" \
                                     ORDER BY NA_OR_NOT_NA,"+output_variable)
    df_null_loan_status.show()

In [35]:
output_variable = ['loan_status', 'application_type']
for each in numeric_feat:
    for output in output_variable:
        print('missing column: {} versus output column {}.'.format(each,output))
        inspect_na_at_random(missing_column=each,
                             output_variable=output)

missing column: dti versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|           Current|               236|
|          NA|        Fully Paid|                15|
|          NA|   In Grace Period|                 3|
|          NA| Late (16-30 days)|                 5|
|          NA|Late (31-120 days)|                 3|
|      NOT NA|       Charged Off|               265|
|      NOT NA|           Current|             98857|
|      NOT NA|        Fully Paid|              6237|
|      NOT NA|   In Grace Period|               758|
|      NOT NA| Late (16-30 days)|               385|
|      NOT NA|Late (31-120 days)|              1100|
+------------+------------------+------------------+

missing column: dti versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|       Joint App|                    262|
|      NOT NA|      Individual|                  91533|
|      NOT NA|       Joint App|                  16069|
+------------+----------------+-----------------------+

missing column: mths_since_last_delinq versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|               158|
|          NA|           Current|             55909|
|          NA|        Fully Paid|              3448|
|          NA|   In Grace Period|               366|
|          NA| Late (16-30 days)|               189|
|          NA|Late (31-120 days)|               625|
|      NOT NA|       Charged Off|               107|
|      NOT NA|           Current|             43184|
|      NOT NA|        Fully Paid|              2804|
|      NOT NA|   In Grace Period|               395|
|      NOT NA| Late (16-30 days)|               201|
|      NOT NA|Late (31-120 days)|               478|
+------------+------------------+------------------+

missing column: mths_since_last_delinq versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  51089|
|          NA|       Joint App|                   9606|
|      NOT NA|      Individual|                  40444|
|      NOT NA|       Joint App|                   6725|
+------------+----------------+-----------------------+

missing column: mths_since_last_record versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|               223|
|          NA|           Current|             85106|
|          NA|        Fully Paid|              5328|
|          NA|   In Grace Period|               658|
|          NA| Late (16-30 days)|               345|
|          NA|Late (31-120 days)|               935|
|      NOT NA|       Charged Off|                42|
|      NOT NA|           Current|             13987|
|      NOT NA|        Fully Paid|               924|
|      NOT NA|   In Grace Period|               103|
|      NOT NA| Late (16-30 days)|                45|
|      NOT NA|Late (31-120 days)|               168|
+------------+------------------+------------------+

missing column: mths_since_last_record versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  78322|
|          NA|       Joint App|                  14273|
|      NOT NA|      Individual|                  13211|
|      NOT NA|       Joint App|                   2058|
+------------+----------------+-----------------------+

missing column: revol_util versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|           Current|               138|
|          NA|        Fully Paid|                 8|
|          NA|   In Grace Period|                 1|
|          NA| Late (16-30 days)|                 1|
|          NA|Late (31-120 days)|                 1|
|      NOT NA|       Charged Off|               265|
|      NOT NA|           Current|             98955|
|      NOT NA|        Fully Paid|              6244|
|      NOT NA|   In Grace Period|               760|
|      NOT NA| Late (16-30 days)|               389|
|      NOT NA|Late (31-120 days)|              1102|
+------------+------------------+------------------+

missing column: revol_util versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                    106|
|          NA|       Joint App|                     43|
|      NOT NA|      Individual|                  91427|
|      NOT NA|       Joint App|                  16288|
+------------+----------------+-----------------------+

missing column: mths_since_last_major_derog versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|               204|
|          NA|           Current|             76461|
|          NA|        Fully Paid|              4788|
|          NA|   In Grace Period|               536|
|          NA| Late (16-30 days)|               269|
|          NA|Late (31-120 days)|               845|
|      NOT NA|       Charged Off|                61|
|      NOT NA|           Current|             22632|
|      NOT NA|        Fully Paid|              1464|
|      NOT NA|   In Grace Period|               225|
|      NOT NA| Late (16-30 days)|               121|
|      NOT NA|Late (31-120 days)|               258|
+------------+------------------+------------------+

missing column: mths_since_last_major_derog versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  69840|
|          NA|       Joint App|                  13263|
|      NOT NA|      Individual|                  21693|
|      NOT NA|       Joint App|                   3068|
+------------+----------------+-----------------------+

missing column: mths_since_rcnt_il versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                24|
|          NA|           Current|              3947|
|          NA|        Fully Paid|               182|
|          NA|   In Grace Period|                38|
|          NA| Late (16-30 days)|                24|
|          NA|Late (31-120 days)|                73|
|      NOT NA|       Charged Off|               241|
|      NOT NA|           Current|             95146|
|      NOT NA|        Fully Paid|              6070|
|      NOT NA|   In Grace Period|               723|
|      NOT NA| Late (16-30 days)|               366|
|      NOT NA|Late (31-120 days)|              1030|
+------------+------------------+------------------+

missing column: mths_since_rcnt_il versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                   3606|
|          NA|       Joint App|                    682|
|      NOT NA|      Individual|                  87927|
|      NOT NA|       Joint App|                  15649|
+------------+----------------+-----------------------+

missing column: il_util versus output column loan_status.

+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                65|
|          NA|           Current|             16399|
|          NA|        Fully Paid|              1078|
|          NA|   In Grace Period|               127|
|          NA| Late (16-30 days)|                75|
|          NA|Late (31-120 days)|               240|
|      NOT NA|       Charged Off|               200|
|      NOT NA|           Current|             82694|
|      NOT NA|        Fully Paid|              5174|
|      NOT NA|   In Grace Period|               634|
|      NOT NA| Late (16-30 days)|               315|
|      NOT NA|Late (31-120 days)|               863|
+------------+------------------+------------------+

missing column: il_util versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  14955|
|          NA|       Joint App|                   3029|
|      NOT NA|      Individual|                  76578|
|      NOT NA|       Joint App|                  13302|
+------------+----------------+-----------------------+

missing column: all_util versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|           Current|                26|
|          NA|        Fully Paid|                 1|
|          NA|Late (31-120 days)|                 1|
|      NOT NA|       Charged Off|               265|
|      NOT NA|           Current|             99067|
|      NOT NA|        Fully Paid|              6251|
|      NOT NA|   In Grace Period|               761|
|      NOT NA| Late (16-30 days)|               390|
|      NOT NA|Late (31-120 days)|              1102|
+------------+------------------+------------------+

missing column: all_util versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                     18|
|          NA|       Joint App|                     10|
|      NOT NA|      Individual|                  91515|
|      NOT NA|       Joint App|                  16321|
+------------+----------------+-----------------------+

missing column: avg_cur_bal versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|           Current|                 8|
|          NA|        Fully Paid|                 1|
|          NA|Late (31-120 days)|                 1|
|      NOT NA|       Charged Off|               265|
|      NOT NA|           Current|             99085|
|      NOT NA|        Fully Paid|              6251|
|      NOT NA|   In Grace Period|               761|
|      NOT NA| Late (16-30 days)|               390|
|      NOT NA|Late (31-120 days)|              1102|
+------------+------------------+------------------+

missing column: avg_cur_bal versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                     10|
|      NOT NA|      Individual|                  91523|
|      NOT NA|       Joint App|                  16331|
+------------+----------------+-----------------------+

missing column: bc_open_to_buy versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                 5|
|          NA|           Current|              1344|
|          NA|        Fully Paid|                99|
|          NA|   In Grace Period|                25|
|          NA| Late (16-30 days)|                12|
|          NA|Late (31-120 days)|                25|
|      NOT NA|       Charged Off|               260|
|      NOT NA|           Current|             97749|
|      NOT NA|        Fully Paid|              6153|
|      NOT NA|   In Grace Period|               736|
|      NOT NA| Late (16-30 days)|               378|
|      NOT NA|Late (31-120 days)|              1078|
+------------+------------------+------------------+

missing column: bc_open_to_buy versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                   1122|
|          NA|       Joint App|                    388|
|      NOT NA|      Individual|                  90411|
|      NOT NA|       Joint App|                  15943|
+------------+----------------+-----------------------+

missing column: bc_util versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                 5|
|          NA|           Current|              1390|
|          NA|        Fully Paid|               100|
|          NA|   In Grace Period|                25|
|          NA| Late (16-30 days)|                12|
|          NA|Late (31-120 days)|                29|
|      NOT NA|       Charged Off|               260|
|      NOT NA|           Current|             97703|
|      NOT NA|        Fully Paid|              6152|
|      NOT NA|   In Grace Period|               736|
|      NOT NA| Late (16-30 days)|               378|
|      NOT NA|Late (31-120 days)|              1074|
+------------+------------------+------------------+

missing column: bc_util versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                   1164|
|          NA|       Joint App|                    397|
|      NOT NA|      Individual|                  90369|
|      NOT NA|       Joint App|                  15934|
+------------+----------------+-----------------------+

missing column: mo_sin_old_il_acct versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                24|
|          NA|           Current|              3947|
|          NA|        Fully Paid|               182|
|          NA|   In Grace Period|                38|
|          NA| Late (16-30 days)|                24|
|          NA|Late (31-120 days)|                73|
|      NOT NA|       Charged Off|               241|
|      NOT NA|           Current|             95146|
|      NOT NA|        Fully Paid|              6070|
|      NOT NA|   In Grace Period|               723|
|      NOT NA| Late (16-30 days)|               366|
|      NOT NA|Late (31-120 days)|              1030|
+------------+------------------+------------------+

missing column: mo_sin_old_il_acct versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                   3606|
|          NA|       Joint App|                    682|
|      NOT NA|      Individual|                  87927|
|      NOT NA|       Joint App|                  15649|
+------------+----------------+-----------------------+

missing column: mths_since_recent_bc versus output column loan_status.

+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                 3|
|          NA|           Current|              1266|
|          NA|        Fully Paid|                93|
|          NA|   In Grace Period|                25|
|          NA| Late (16-30 days)|                12|
|          NA|Late (31-120 days)|                22|
|      NOT NA|       Charged Off|               262|
|      NOT NA|           Current|             97827|
|      NOT NA|        Fully Paid|              6159|
|      NOT NA|   In Grace Period|               736|
|      NOT NA| Late (16-30 days)|               378|
|      NOT NA|Late (31-120 days)|              1081|
+------------+------------------+------------------+

missing column: mths_since_recent_bc versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                   1053|
|          NA|       Joint App|                    368|
|      NOT NA|      Individual|                  90480|
|      NOT NA|       Joint App|                  15963|
+------------+----------------+-----------------------+

missing column: mths_since_recent_bc_dlq versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|               218|
|          NA|           Current|             79611|
|          NA|        Fully Paid|              4982|
|          NA|   In Grace Period|               584|
|          NA| Late (16-30 days)|               291|
|          NA|Late (31-120 days)|               880|
|      NOT NA|       Charged Off|                47|
|      NOT NA|           Current|             19482|
|      NOT NA|        Fully Paid|              1270|
|      NOT NA|   In Grace Period|               177|
|      NOT NA| Late (16-30 days)|                99|
|      NOT NA|Late (31-120 days)|               223|
+------------+------------------+------------------+

missing column: mths_since_recent_bc_dlq versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  73129|
|          NA|       Joint App|                  13437|
|      NOT NA|      Individual|                  18404|
|      NOT NA|       Joint App|                   2894|
+------------+----------------+-----------------------+

missing column: mths_since_recent_inq versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                30|
|          NA|           Current|             12900|
|          NA|        Fully Paid|               506|
|          NA|   In Grace Period|                79|
|          NA| Late (16-30 days)|                44|
|          NA|Late (31-120 days)|                89|
|      NOT NA|       Charged Off|               235|
|      NOT NA|           Current|             86193|
|      NOT NA|        Fully Paid|              5746|
|      NOT NA|   In Grace Period|               682|
|      NOT NA| Late (16-30 days)|               346|
|      NOT NA|Late (31-120 days)|              1014|
+------------+------------------+------------------+

missing column: mths_since_recent_inq versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  11240|
|          NA|       Joint App|                   2408|
|      NOT NA|      Individual|                  80293|
|      NOT NA|       Joint App|                  13923|
+------------+----------------+-----------------------+

missing column: mths_since_recent_revol_delinq versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|               191|
|          NA|           Current|             70917|
|          NA|        Fully Paid|              4407|
|          NA|   In Grace Period|               492|
|          NA| Late (16-30 days)|               256|
|          NA|Late (31-120 days)|               775|
|      NOT NA|       Charged Off|                74|
|      NOT NA|           Current|             28176|
|      NOT NA|        Fully Paid|              1845|
|      NOT NA|   In Grace Period|               269|
|      NOT NA| Late (16-30 days)|               134|
|      NOT NA|Late (31-120 days)|               328|
+------------+------------------+------------------+

missing column: mths_since_recent_revol_delinq versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  64995|
|          NA|       Joint App|                  12043|
|      NOT NA|      Individual|                  26538|
|      NOT NA|       Joint App|                   4288|
+------------+----------------+-----------------------+

missing column: num_tl_120dpd_2m versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                15|
|          NA|           Current|              3205|
|          NA|        Fully Paid|               171|
|          NA|   In Grace Period|                41|
|          NA| Late (16-30 days)|                20|
|          NA|Late (31-120 days)|                56|
|      NOT NA|       Charged Off|               250|
|      NOT NA|           Current|             95888|
|      NOT NA|        Fully Paid|              6081|
|      NOT NA|   In Grace Period|               720|
|      NOT NA| Late (16-30 days)|               370|
|      NOT NA|Late (31-120 days)|              1047|
+------------+------------------+------------------+

missing column: num_tl_120dpd_2m versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                   3508|
|      NOT NA|      Individual|                  88025|
|      NOT NA|       Joint App|                  16331|
+------------+----------------+-----------------------+

missing column: pct_tl_nvr_dlq versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|           Current|                 1|
|      NOT NA|       Charged Off|               265|
|      NOT NA|           Current|             99092|
|      NOT NA|        Fully Paid|              6252|
|      NOT NA|   In Grace Period|               761|
|      NOT NA| Late (16-30 days)|               390|
|      NOT NA|Late (31-120 days)|              1103|
+------------+------------------+------------------+

missing column: pct_tl_nvr_dlq versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                      1|
|      NOT NA|      Individual|                  91532|
|      NOT NA|       Joint App|                  16331|
+------------+----------------+-----------------------+

missing column: percent_bc_gt_75 versus output column loan_status.

+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                 5|
|          NA|           Current|              1348|
|          NA|        Fully Paid|                99|
|          NA|   In Grace Period|                25|
|          NA| Late (16-30 days)|                12|
|          NA|Late (31-120 days)|                25|
|      NOT NA|       Charged Off|               260|
|      NOT NA|           Current|             97745|
|      NOT NA|        Fully Paid|              6153|
|      NOT NA|   In Grace Period|               736|
|      NOT NA| Late (16-30 days)|               378|
|      NOT NA|Late (31-120 days)|              1078|
+------------+------------------+------------------+

missing column: percent_bc_gt_75 versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                   1126|
|          NA|       Joint App|                    388|
|      NOT NA|      Individual|                  90407|
|      NOT NA|       Joint App|                  15943|
+------------+----------------+-----------------------+

missing column: sec_app_revol_util versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|           Current|                99|
|          NA|        Fully Paid|                 7|
|          NA|   In Grace Period|                 1|
|          NA| Late (16-30 days)|                 1|
|          NA|Late (31-120 days)|                 1|
|      NOT NA|       Charged Off|               265|
|      NOT NA|           Current|             98994|
|      NOT NA|        Fully Paid|              6245|
|      NOT NA|   In Grace Period|               760|
|      NOT NA| Late (16-30 days)|               389|
|      NOT NA|Late (31-120 days)|              1102|
+------------+------------------+------------------+

missing column: sec_app_revol_util versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                    106|
|          NA|       Joint App|                      3|
|      NOT NA|      Individual|                  91427|
|      NOT NA|       Joint App|                  16328|
+------------+----------------+-----------------------+

missing column: sec_app_mths_since_last_major_derog versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|               199|
|          NA|           Current|             73402|
|          NA|        Fully Paid|              4638|
|          NA|   In Grace Period|               480|
|          NA| Late (16-30 days)|               241|
|          NA|Late (31-120 days)|               768|
|      NOT NA|       Charged Off|                66|
|      NOT NA|           Current|             25691|
|      NOT NA|        Fully Paid|              1614|
|      NOT NA|   In Grace Period|               281|
|      NOT NA| Late (16-30 days)|               149|
|      NOT NA|Late (31-120 days)|               335|
+------------+------------------+------------------+

missing column: sec_app_mths_since_last_major_derog versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                  69840|
|          NA|       Joint App|                   9888|
|      NOT NA|      Individual|                  21693|
|      NOT NA|       Joint App|                   6443|
+------------+----------------+-----------------------+

missing column: diff_last_next_pymnt_d versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                95|
|          NA|Late (31-120 days)|                56|
|      NOT NA|       Charged Off|               170|
|      NOT NA|           Current|             99093|
|      NOT NA|        Fully Paid|              6252|
|      NOT NA|   In Grace Period|               761|
|      NOT NA| Late (16-30 days)|               390|
|      NOT NA|Late (31-120 days)|              1047|
+------------+------------------+------------------+

missing column: diff_last_next_pymnt_d versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                    135|
|          NA|       Joint App|                     16|
|      NOT NA|      Individual|                  91398|
|      NOT NA|       Joint App|                  16315|
+------------+----------------+-----------------------+

missing column: diff_last_pymnt_end_of_march_d versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|       Charged Off|                95|
|          NA|Late (31-120 days)|                56|
|      NOT NA|       Charged Off|               170|
|      NOT NA|           Current|             99093|
|      NOT NA|        Fully Paid|              6252|
|      NOT NA|   In Grace Period|               761|
|      NOT NA| Late (16-30 days)|               390|
|      NOT NA|Late (31-120 days)|              1047|
+------------+------------------+------------------+

missing column: diff_last_pymnt_end_of_march_d versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                    135|
|          NA|       Joint App|                     16|
|      NOT NA|      Individual|                  91398|
|      NOT NA|       Joint App|                  16315|
+------------+----------------+-----------------------+

missing column: diff_last_credit_pull_end_of_march_d versus output column loan_status.
+------------+------------------+------------------+
|NA_OR_NOT_NA|       loan_status|count(loan_status)|
+------------+------------------+------------------+
|          NA|           Current|                 2|
|      NOT NA|       Charged Off|               265|
|      NOT NA|           Current|             99091|
|      NOT NA|        Fully Paid|              6252|
|      NOT NA|   In Grace Period|               761|
|      NOT NA| Late (16-30 days)|               390|
|      NOT NA|Late (31-120 days)|              1103|
+------------+------------------+------------------+

missing column: diff_last_credit_pull_end_of_march_d versus output column application_type.
+------------+----------------+-----------------------+
|NA_OR_NOT_NA|application_type|count(application_type)|
+------------+----------------+-----------------------+
|          NA|      Individual|                      2|
|      NOT NA|      Individual|                  91531|
|      NOT NA|       Joint App|                  16331|
+------------+----------------+-----------------------+

## Missing data inspection - Logistic Regression

In [38]:
def missing_logistic_regression(dataframe, missing_column):
    '''
    dataframe: a pyspark dataframe.
    missing_column: a column name of a missing column.
    Outputs: Return the top three predictors that cause such missing values in the missing
    column estimated by Logistic Regression.
    '''
    # First, drop off missing columns in the dataframe.
    columns = dataframe.columns
    columns.remove(missing_column)
    
    for col in columns:
        count_missing = dataframe.filter(dataframe[col].isNull()).count()
        if count_missing != 0:
            dataframe = dataframe.drop(col)

    # Group missing data into two, 'NA' or 'NOT NA'.
    sqlCtx.registerDataFrameAsTable(dataframe, "dataframe")
    
    dataframe = sqlCtx.sql("SELECT CASE WHEN "+missing_column+ " IS NULL THEN 'NA'\
    ELSE 'NOT NA' END AS NA_OR_NOT_NA, * FROM dataframe")
    
    # Transform strings into numbers using StringIndexer.
    columns = dataframe.columns
    cate_columns = []
    for each in columns:
        if dataframe.select(each).dtypes[0][1] == 'string':
            cate_columns.append(each)

    for each in cate_columns:
        indexer = StringIndexer(inputCol=each, outputCol=each+"_cat")
        dataframe = indexer.fit(dataframe).transform(dataframe)
        dataframe = dataframe.drop(each)
        
    # LR modeling: preprocessing
    columns = dataframe.columns
    columns.remove(missing_column)
    columns.remove('NA_OR_NOT_NA_cat')
    
    # Assemble all the 'predictors' into a vector.
    assembler = VectorAssembler(inputCols=columns, outputCol="features")
    dataframe = assembler.transform(dataframe) 
    
    # Standardization to obtain 'fair' coefficient estimations.
    std_scaler = StandardScaler(inputCol="features", outputCol="scaled_features",\
                                withStd=True, withMean=True)
    dataframe = std_scaler.fit(dataframe).transform(dataframe)
    
    # LR modeling
    lr = LogisticRegression(featuresCol='scaled_features', 
                            labelCol='NA_OR_NOT_NA_cat', 
                            predictionCol='prediction')
    
    final_data = dataframe.select('scaled_features', 'NA_OR_NOT_NA_cat')
    lr_model = lr.fit(final_data)
    
    # Coefficient report
    coeffs = lr_model.coefficients.toArray()
    sorted_coeff_indexes = (abs(coeffs)).argsort()[-3:]
    print(len(coeffs), len(columns))
    print('Modeling Results:')
    for index in sorted_coeff_indexes:
        print('Column name is {}, and the corresponding coeff is {}.'.format(
            columns[index], coeffs[index]))

In [39]:
for missing_num_col in numeric_feat:
    print('Processing missing column {}.'.format(missing_num_col))
    missing_logistic_regression(dataframe=loan,
                            missing_column=missing_num_col)
    print('-'*50)
    print()

Processing missing column dti.
90 90
Modeling Results:
Column name is open_rv_24m, and the corresponding coeff is 312.04082507191424.
Column name is application_type_cat, and the corresponding coeff is 398.7735922209789.
Column name is annual_inc, and the corresponding coeff is -14621.13446432049.
--------------------------------------------------

Processing missing column mths_since_last_delinq.
90 90
Modeling Results:
Column name is num_tl_90g_dpd_24m, and the corresponding coeff is -3.233735676645961.
Column name is num_accts_ever_120_pd, and the corresponding coeff is 4.373896596504162.
Column name is delinq_2yrs, and the corresponding coeff is 6.911252414710629.
--------------------------------------------------

Processing missing column mths_since_last_record.
90 90
Modeling Results:
Column name is tax_liens, and the corresponding coeff is 4.802290436797678.
Column name is pub_rec_bankruptcies, and the corresponding coeff is 9.584382157762667.
Column name is pub_rec, and the corresponding coeff is 13.320476368554392.
--------------------------------------------------

Processing missing column revol_util.
90 90
Modeling Results:
Column name is total_rev_hi_lim, and the corresponding coeff is -6.1835228440710575.
Column name is num_rev_tl_bal_gt_0, and the corresponding coeff is -6.842849725271377.
Column name is num_op_rev_tl, and the corresponding coeff is -15.108660367089035.
--------------------------------------------------

Processing missing column mths_since_last_major_derog.
90 90
Modeling Results:
Column name is total_acc, and the corresponding coeff is 3.7612250646693255.
Column name is num_tl_90g_dpd_24m, and the corresponding coeff is 5.695090993518672.
Column name is num_accts_ever_120_pd, and the corresponding coeff is 6.21221486404974.
--------------------------------------------------

Processing missing column mths_since_rcnt_il.
90 90
Modeling Results:
Column name is open_il_24m, and the corresponding coeff is -35.24832835042372.
Column name is open_act_il, and the corresponding coeff is -37.05801185337858.
Column name is num_il_tl, and the corresponding coeff is -146.32077868495765.
--------------------------------------------------

Processing missing column il_util.
90 90
Modeling Results:
Column name is open_acc, and the corresponding coeff is -5.237834391996427.
Column name is num_op_rev_tl, and the corresponding coeff is 6.851225334343699.
Column name is open_act_il, and the corresponding coeff is -14.375633508339444.
--------------------------------------------------

Processing missing column all_util.
90 90
Modeling Results:
Column name is open_acc_6m, and the corresponding coeff is -192.20705112546952.
Column name is num_op_rev_tl, and the corresponding coeff is -220.976984760475.
Column name is sec_app_collections_12_mths_ex_med, and the corresponding coeff is -300.44414623006236.
--------------------------------------------------

Processing missing column avg_cur_bal.
90 90
Modeling Results:
Column name is num_accts_ever_120_pd, and the corresponding coeff is -49.23420301726051.
Column name is open_acc_6m, and the corresponding coeff is -53.11758142924062.
Column name is int_rate, and the corresponding coeff is 58.19206544496653.
--------------------------------------------------

Processing missing column bc_open_to_buy.
90 90
Modeling Results:
Column name is num_bc_sats, and the corresponding coeff is -17.51553413644663.
Column name is max_bal_bc, and the corresponding coeff is -23.25831764664017.
Column name is total_bc_limit, and the corresponding coeff is -81.20689246993363.
--------------------------------------------------

Processing missing column bc_util.
90 90
Modeling Results:
Column name is total_bal_ex_mort, and the corresponding coeff is -1.375236454345713.
Column name is num_actv_bc_tl, and the corresponding coeff is -11.429352036128295.
Column name is num_bc_sats, and the corresponding coeff is -20.625538842245803.
--------------------------------------------------

Processing missing column mo_sin_old_il_acct.
90 90
Modeling Results:
Column name is open_il_24m, and the corresponding coeff is -35.24832835042372.
Column name is open_act_il, and the corresponding coeff is -37.05801185337858.
Column name is num_il_tl, and the corresponding coeff is -146.32077868495765.
--------------------------------------------------

Processing missing column mths_since_recent_bc.
90 90
Modeling Results:
Column name is num_actv_bc_tl, and the corresponding coeff is -319.23051904886455.
Column name is max_bal_bc, and the corresponding coeff is -431.9749486408445.
Column name is num_bc_sats, and the corresponding coeff is -626.4297965317338.
--------------------------------------------------

Processing missing column mths_since_recent_bc_dlq.
90 90
Modeling Results:
Column name is num_accts_ever_120_pd, and the corresponding coeff is 0.7073512937740036.
Column name is num_bc_tl, and the corresponding coeff is 0.9146772328280142.
Column name is delinq_2yrs, and the corresponding coeff is 0.9583655639481601.
--------------------------------------------------

Processing missing column mths_since_recent_inq.
90 90
Modeling Results:
Column name is inq_last_6mths, and the corresponding coeff is -8.37182745339685.
Column name is inq_fi, and the corresponding coeff is -21.24907929115974.
Column name is inq_last_12m, and the corresponding coeff is -27.41413028568514.
--------------------------------------------------

Processing missing column mths_since_recent_revol_delinq.
90 90
Modeling Results:
Column name is num_tl_90g_dpd_24m, and the corresponding coeff is -0.8254079301651837.
Column name is num_accts_ever_120_pd, and the corresponding coeff is 0.8429948351709868.
Column name is delinq_2yrs, and the corresponding coeff is 1.5039738024938716.
--------------------------------------------------

Processing missing column num_tl_120dpd_2m.
90 90
Modeling Results:
Column name is num_rev_tl_bal_gt_0, and the corresponding coeff is -11.90683545918202.
Column name is num_op_rev_tl, and the corresponding coeff is -32.60963820674289.
Column name is num_actv_rev_tl, and the corresponding coeff is 34.28773556135443.
--------------------------------------------------

Processing missing column pct_tl_nvr_dlq.
90 90
Modeling Results:
Column name is emp_length_cat, and the corresponding coeff is -11.641684962246302.
Column name is dti_joint, and the corresponding coeff is -11.746396931960657.
Column name is int_rate, and the corresponding coeff is 12.363223072922105.
--------------------------------------------------

Processing missing column percent_bc_gt_75.
90 90
Modeling Results:
Column name is max_bal_bc, and the corresponding coeff is -12.0118874540717.
Column name is num_bc_sats, and the corresponding coeff is -13.45048060848486.
Column name is total_bc_limit, and the corresponding coeff is -61.206858582829156.
--------------------------------------------------

Processing missing column sec_app_revol_util.
90 90
Modeling Results:
Column name is num_actv_rev_tl, and the corresponding coeff is -6.515055511532915.
Column name is num_rev_tl_bal_gt_0, and the corresponding coeff is -7.917059054432024.
Column name is num_op_rev_tl, and the corresponding coeff is -13.953145854065378.
--------------------------------------------------

Processing missing column sec_app_mths_since_last_major_derog.
90 90
Modeling Results:
Column name is total_acc, and the corresponding coeff is 2.6668257171145022.
Column name is num_tl_90g_dpd_24m, and the corresponding coeff is 4.632556340025759.
Column name is num_accts_ever_120_pd, and the corresponding coeff is 6.020164494798053.
--------------------------------------------------

Processing missing column diff_last_next_pymnt_d.
90 90
Modeling Results:
Column name is total_pymnt_inv, and the corresponding coeff is -309.0846688338564.
Column name is total_pymnt, and the corresponding coeff is -309.1069699534435.
Column name is total_rec_int, and the corresponding coeff is -653.7778702125236.
--------------------------------------------------

Processing missing column diff_last_pymnt_end_of_march_d.
90 90
Modeling Results:
Column name is total_pymnt_inv, and the corresponding coeff is -309.0846688338564.
Column name is total_pymnt, and the corresponding coeff is -309.1069699534435.
Column name is total_rec_int, and the corresponding coeff is -653.7778702125236.
--------------------------------------------------

Processing missing column diff_last_credit_pull_end_of_march_d.

90 90
Modeling Results:
Column name is num_op_rev_tl, and the corresponding coeff is -18.313897679483695.
Column name is total_bc_limit, and the corresponding coeff is -19.69904919856108.
Column name is num_bc_tl, and the corresponding coeff is -23.462781553639278.
--------------------------------------------------

In [76]:
# 'total_bc_limit': Total bankcard high credit/credit limit.
# 'percent_bc_gt_75': Percentage of all bankcard accounts > 75% of limit.
# When 'percent_bc_gt_75' is missing, the corresponding 'total_bc_limit' value is always 0.
# It may indicate that 0 limit and thus no backcard accounts.
inspect_na_at_random(missing_column='percent_bc_gt_75',
                             output_variable='total_bc_limit')

+------------+--------------+---------------------+
|NA_OR_NOT_NA|total_bc_limit|count(total_bc_limit)|
+------------+--------------+---------------------+
|          NA|             0|                 1514|
|      NOT NA|           100|                    2|
|      NOT NA|           200|                   19|
|      NOT NA|           300|                  106|
|      NOT NA|           400|                   22|
|      NOT NA|           500|                  348|
|      NOT NA|           600|                   61|
|      NOT NA|           700|                   77|
|      NOT NA|           750|                    3|
|      NOT NA|           800|                  202|
|      NOT NA|           900|                   62|
|      NOT NA|          1000|                  424|
|      NOT NA|          1050|                    1|
|      NOT NA|          1100|                   88|
|      NOT NA|          1200|                   97|
|      NOT NA|          1250|                    2|
|      NOT NA|          1300|                  165|
|      NOT NA|          1350|                    1|
|      NOT NA|          1400|                   74|
|      NOT NA|          1450|                    1|
+------------+--------------+---------------------+
only showing top 20 rows

In [77]:
# After looking all the top three features for each missing column,
# the pair between 'mths_since_last_record' and 'pub_rec' is the most significant.
# When mths_since_last_record is missing, the corresponding 'pub_rec' is always 0.
# It's reasonable that when 'pub_rec' is 0, there is no record available for 
# 'mths_since_last_record'.
inspect_na_at_random(missing_column='mths_since_last_record',
                             output_variable='pub_rec')

+------------+-------+--------------+
|NA_OR_NOT_NA|pub_rec|count(pub_rec)|
+------------+-------+--------------+
|          NA|      0|         92595|
|      NOT NA|      1|         13922|
|      NOT NA|      2|           866|
|      NOT NA|      3|           265|
|      NOT NA|      4|           115|
|      NOT NA|      5|            51|
|      NOT NA|      6|            20|
|      NOT NA|      7|            11|
|      NOT NA|      8|             6|
|      NOT NA|      9|             5|
|      NOT NA|     10|             2|
|      NOT NA|     13|             3|
|      NOT NA|     19|             1|
|      NOT NA|     24|             1|
|      NOT NA|     52|             1|
+------------+-------+--------------+